:root {
  --color-bg-surface: #ffffff;
  --color-bg-surface-accent: #f3f4f6;
  --color-bg-surface-accent-dark: #cbd5e1;
  --color-bg-alert: #dc2626;
  --color-bg-warning: #fb923c;
  --color-bg-success: #22c55e;
  --color-bg-shadow: #e5e7eb;
  --color-bg-paranja: #33415575;
  --color-bg-border: #64748b;

  --color-typo-primary: #6b7280;
  --color-typo-secondary: #f3f4f6;
  --color-typo-alert: #dc2626;
  --color-typo-warning: #fb923c;
  --color-typo-success: #22c55e;
  --color-typo-link: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
